@font-face {
    font-family: 'Lato Black';
    src: url('assets/fonts/Lato-Black.eot');
    src: url('assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Lato-Black.woff') format('woff'),
    url('assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lato Bold';
    src: url('assets/fonts/Lato-Bold.eot');
    src: url('assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Lato-Bold.woff') format('woff'),
    url('assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lato Regular';
    src: url('assets/fonts/Lato-Regular.eot');
    src: url('assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Lato-Regular.woff') format('woff'),
    url('assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lato Light';
    src: url('assets/fonts/Lato-Light.eot');
    src: url('assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Lato-Light.woff') format('woff'),
    url('assets/fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lato Thin';
    src: url('assets/fonts/Lato-Thin.eot');
    src: url('assets/fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/Lato-Thin.woff') format('woff'),
    url('assets/fonts/Lato-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }


@font-face {
    font-family: 'icomoon';
    src:  url('assets/fonts/icomoon.eot?ykdp4h');
    src:  url('assets/fonts/icomoon.eot?ykdp4h#iefix') format('embedded-opentype'),
      url('assets/fonts/icomoon.ttf?ykdp4h') format('truetype'),
      url('assets/fonts/icomoon.woff?ykdp4h') format('woff'),
      url('assets/fonts/icomoon.svg?ykdp4h#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-google:before {
    content: "\e900";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  
  @font-face {
    font-family: 'fontello';
    src: url('fonts/fontello/fontello.eot?11696308');
    src: url('fonts/fontello/fontello.eot?11696308#iefix') format('embedded-opentype'),
        url('fonts/fontello/fontello.woff?11696308') format('woff'),
        url('fonts/fontello/fontello.ttf?11696308') format('truetype'),
        url('fonts/fontello/fontello.svg?11696308#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    speak: none;
}


@font-face {
    font-family: 'linecons';
    src: url('fonts/linecons/linecons.eot');
    src: url('fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
        url('fonts/linecons/linecons.ttf') format('truetype'),
        url('fonts/linecons/linecons.woff') format('woff'),
        url('fonts/linecons/linecons.svg#linecons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    speak: none;
}